@namespace Mpesa2Csv
@page "/"
@inject ISnackbar Snackbar

@using System.Text.RegularExpressions
@using System.Text;

<PageTitle>Mpesa PDF to CSV converter</PageTitle>

<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <h1>Convert M-pesa statement PDF to CSV file</h1>
               <InputFile id="fileInput" multiple="false" accept=".pdf" OnChange="UploadFile"  hidden/>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="fileInput">
                Upload
            </MudButton>
            @if (model.BrowserFile != null)
            {
                <MudChip Text="@model.BrowserFile.Name" />
            }
               <MudTextField InputType="InputType.Password" Label="Password" HelperText="The password to the PDF file, if any." Class="mt-3" @bind-Value="@model.Password" For="@(() => model.Password)"/>
              
            <ValidationSummary/> 
        </MudCardContent>
        <MudCardActions>  
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"  >
                @if (converting)
                {
                    <MudProgressCircular Indeterminate="true" />
                    <MudText Class="ms-2">Converting...</MudText>
                }
                else
                {
                    <MudText>Convert</MudText>
                }
            </MudButton>                

        </MudCardActions>
    </MudCard>
</EditForm>






